/* Main view */
.main-view {
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 5;
    position: relative;

    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #f8f8fb;
}

.filter-status {
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
    background: #f8f8fb;
}

.grey {
    color: rgb(136,142,176);
    font-size: 1.2rem;
}

/* Sidepanel */
.sidepanel {
    background: #1e2139;
    border-radius: 0 3rem 3rem 0;
    width: 12rem;
    height: 100vh;
    z-index: 30;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 100%;
    border-radius: 0 3rem 0 0;
    padding: 3.5rem;
    color: white;
}

.logo-background {
    background: linear-gradient(#9277ff 50%, #7c5dfa 50%);
    border-radius: 0 2rem 0 0;
}

.line {
    border-top: 0.1rem solid rgb(136,142,176);
}

.avatar {
    margin: 0 auto;
}

.avatar-img {
    border-radius: 50%;
    padding: 2rem;
}

.bottom-panel {
    display: flex;
    flex-direction: column;
}

.moon {
    margin: 0 auto;
    padding-bottom: 2rem;
}

.moon-img {
    width: 5rem;
    height: 5rem;
}
/* Invoices view */
.invoices {
    height: 100vh;
    width: 50%;
    margin: 10rem auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.invoices-header {
    margin-bottom: 1rem;
}

.invoices-navbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    
}

.invoices-navbar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.invoices-navbar-right {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.invoices-element {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    align-items: center;
    padding: 1rem 0rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    background: white;
    height: 8rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(231, 231, 231);
}

.invoices-element:hover {
    border: 0.2rem solid #7c5dfa;
}

.status-value-udpate-draft {
    background: rgb(224, 224, 224);
    padding: 1rem;
    border-radius: 0.4rem;
}

.status-dot-draft {
    color: black;
}

.bold {
    font-weight: bold;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.arrow-right {
    margin-left: 2rem;
}

.btn-new-invoice {
    background: #7c5dfa;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    border-radius: 10rem;
    width: 20rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.btn-new-invoice-white {
    background: white;
    width: 5rem;
    height: 75%;
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.new-invoice-img {
    background: white;
    border-radius: 50%;
}

.empty {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.empty-img { margin-bottom: 2rem; }

/* Modal New */
.modal-new {
    display: none;
}

.modal-container-new {
    background: rgba(83, 83, 83, 0.6);
    padding: 5rem;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
   
}

.modal-content-new {
    background: rgb(233, 233, 233);
    border-radius: 0.5rem;
    z-index: 25;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10rem;
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 1.3rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20rem;
}

.purple {
    color: #7c5dfa;
    margin: 2rem 0;
}

::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
}

input {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border:0.1rem solid rgb(221, 221, 221);
    border-radius: 0.4rem;
    background: rgb(241, 241, 241);
}

.billfrom {
    display: flex;
    flex-direction: column;
}


.billfrom-address-new {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.billfrom-city-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.billfrom-city-column-new {
    display: flex;
    flex-direction: column;
}

.billto-name-new {
    display: flex;
    flex-direction: column;
}

.billto-city-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.billto-city-column-new {
    display: flex;
    flex-direction: column;
}

.invoice-date-new {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.invoice-date-label-new {
    display: flex;
    flex-direction: column;
}

.invoice-date-payment-new {
    display: flex;
    flex-direction: column;
}

select {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border:0.1rem solid rgb(221, 221, 221);
    border-radius: 0.4rem;
    background: rgb(241, 241, 241);
}

.billto-project-new {
    display: flex;
    flex-direction: column;
}

.item-list-new {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.item-list-name-new {
    display: flex;
    flex-direction: column;
}

.list-name-new {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.number-new {
    width: 7rem;
    appearance: none;
}

/* Disabling arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
/* Disabling arrows end */

.price-new {
    width: 10rem;
}

.item-total-new {
    margin-bottom: 2rem;
}
.item-total-second-new {
    margin-top: 4.5rem;
}

/* Buttons */
.add-item-new {
    width: 52rem;
}

.modal-new-buttons {
    background: white;
    z-index: 25;
    height: 15%;
    width: 50%;
    padding: 10rem;
    border-radius: 2rem;
    position: absolute;
    left: 5%;
    top: 85%;  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

/* Dark Mode */
.btn-moon {
    width: 8rem;
    height: 8rem;
    border: 0;
    background: #1e2139;
}

.dark-mode-1 {
    background-color: #141625;
    color: white;
    scrollbar-color: #1e2139;
}

.dark-mode-2 {
    background-color: #1e2139;
    color: white;
    border-color: #1e2139;
    scrollbar-color: #1e2139;
}

.dark-mode-3 {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}  

.dark-mode-4 {
    background-color: black;
}  
    
.dark-mode-5 {
    background-color: #252945;
} 

.dark-mode-6 {
    color: white;
} 
