/* Main view */
.main-view {
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 5;
    position: relative;

    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #f8f8fb;
}

@media only screen and (max-width: 768px) {
    .main-view {  
       overflow-y: visible;
    }   
}

.body-view {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    margin: 0 auto;
}

/* Invoices */
.invoices {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .invoices {
        width: 100vw;
        padding: 5rem 5rem;
    }    
}

.back {
    margin-top: 5rem; 
    margin-bottom: 2rem;
}

.back-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-img {
    width: 1.7rem;
    height: 2.5rem;
}

.back-img:hover,
.back-link:hover {
    filter: grayscale(50%);
    color: grey;
}

.back-paragraph {
    font-weight: bold;
    margin-left: 2rem;
}

.status {
    background: white;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(231, 231, 231);
    height: 10rem;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    margin-bottom: 3rem;
    z-index: 5;
}

.status-name {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.status-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

@media only screen and (max-width: 768px) {
    .status-value {
        margin-left: auto;
    }
}

 .status-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
 }

 @media only screen and (max-width: 768px) {
    .status-buttons {
       display: none;
    }
 }

 .status-value-update {
    background: rgb(255, 243, 230);
    padding: 1rem;
    color: rgb(255, 159, 57);
    border-radius: 0.4rem;
 }

 @media only screen and (max-width: 768px) {
    .status-value-update {
        margin-left: auto;
     }
 }

 .status-value-update-paid {
    display: none;
    background: rgb(230, 255, 238);
    padding: 1rem;
    color: rgb(50, 201, 100); 
    border-radius: 0.4rem;
 }

 .status-dot { color: rgb(255, 159, 57); }

 .status-dot-paid { color: rgb(50, 201, 100); }

 .details {
    background: white;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(231, 231, 231);
    padding: 5rem;
    z-index: 5;
    margin-bottom: 10rem;
 }

 .details-id {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
 }

 @media only screen and (max-width: 768px) {
    .details-id {
        margin-bottom: 3rem;
     }
}

 .details-address {
    line-height: 2.5rem;
    margin-left: auto;
    color: rgb(136,142,176);
 }

.id  {
    font-size: 2rem;
    margin-bottom: 1rem;   
    font-weight: bold;
}
.grey { color: rgb(136,142,176); }

.bold { 
    font-weight: bold;
    font-size: 2rem; 
}

 .invoice-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 3rem;
    gap: 15rem;
    margin-bottom: 5rem;
 }

 @media only screen and (max-width: 768px) {
    .invoice-details {
        line-height: 3rem;
        gap: 5rem;
        margin-bottom: 3rem;
     }
}

.invoice-details-dates {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.invoice-table {
    background: #f8f8fb;
    padding: 5rem;
    display: flex;
    flex-direction: column;
}
.invoice-table-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    line-height: 3rem;
}

.unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    line-height: 3rem;
    margin: 2rem 0;
}

.amount {
    display: flex;
    flex-direction: row;
    padding: 3rem 5rem;
    background: #1e2139;
    color: white;
    border-radius: 0 0 2rem 2rem;
}
.amount-number {
    margin-left: auto;
    font-size: 3rem;
    font-weight: bold;
}

/*  Modal-Delete */
.modal-delete {
    display: none;
}
   
.modal-container {
    background: rgba(83, 83, 83, 0.6);
    padding: 5rem;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.modal-content {
    background: white;
    border-radius: 0.5rem;
    z-index: 25;
    height: 25rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 1.3rem;
}

.confirm { margin-bottom: 2rem; }
.delete-paragraph { margin-bottom: 2rem; }

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}

.btn-cancel {
    margin-right: 2rem;
}

/* Modal Edit */
.modal-edit {
    display: none;
}

.modal-container-edit {
    background: rgba(83, 83, 83, 0.6);
    padding: 5rem;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
   
}

.modal-content-edit {
    background: linear-gradient(white 50%, rgb(189, 189, 189));
    border-radius: 0.5rem;
    z-index: 25;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10rem;
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 1.3rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20rem;
}

@media only screen and (max-width: 768px) {
    .modal-content-edit {
        background: linear-gradient(white 50%, rgb(189, 189, 189));
        width: 85%;
        padding: 12rem 5rem;
        left: 0;
    }
}

.modal-edit-buttons {
    background: white;
    z-index: 25;
    height: 15%;
    width: 50%;
    padding: 10rem;
    border-radius: 2rem;
    position: absolute;
    left: 5%;
    top: 85%;  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

@media only screen and (max-width: 768px) {
    .modal-edit-buttons {
        width: 85%;
        padding: 2rem 5rem 6rem 5rem;
        border-radius: 0rem 2rem 2rem 0;
        left: 0;
        top: 90%;  
    }
}

.purple {
    color: #7c5dfa;
    margin: 2rem 0;
}

::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
}

.input {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border:0.1rem solid rgb(221, 221, 221);
    border-radius: 0.4rem;
    background: rgb(241, 241, 241);
}

input:focus {
    outline: none !important;
    border:1px solid #7c5dfa;
}


.billfrom-address {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.billfrom-city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.billfrom-city-column {
    display: flex;
    flex-direction: column;
}

.billto-name {
    display: flex;
    flex-direction: column;
}

.billto-city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.billto-city-column {
    display: flex;
    flex-direction: column;
}

.invoice-date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.invoice-date-label {
    display: flex;
    flex-direction: column;
}

.invoice-date-payment {
    display: flex;
    flex-direction: column;
}

select {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border:0.1rem solid rgb(221, 221, 221);
    border-radius: 0.4rem;
    background: rgb(241, 241, 241);
}

.billto-project {
    display: flex;
    flex-direction: column;
}

.item-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.item-list-name {
    display: flex;
    flex-direction: column;
}

.list-name {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.number {
    width: 7rem;
    appearance: none;
}

/* Disabling arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
/* Disabling arrows end */

.price {
    width: 10rem;
}

.item-total {
    margin-bottom: 2rem;
}
.item-total-second {
    margin-top: 4.5rem;
}

/* Buttons */
.add-item {
    width: 52rem;
}

.buttons-bottom {
    display: none;
}

@media only screen and (max-width: 768px) {
    .buttons-bottom {
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20rem;
        padding: 3rem 5rem 3rem 5rem;
        width: 100vw;
        height: 15rem;
        z-index: 5;
        background: white;
    }
}


   
   
   
    
   